.avatarBtn{
  position: absolute;
  bottom: 0;
  right: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

.editAvatar{
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.editAvatar-enter {
  opacity: 0;
  transform: scale(0.5);
}
.editAvatar-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 750ms, transform 750ms;
}
.editAvatar-exit {
  opacity: 1;
}
.editAvatar-exit-active {
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 750ms, transform 750ms;
}
